hide{
	display: none;
}
.form-date{
	width: 100%;
	outline: none;
    padding: 9px 9px 9px 100px;
    background: #fff;    
    border: 1px solid #cccccc;
    font-size: 14px;    
    border-radius: 10px;
}
.form-file{
	padding: 10px 10px 10px 100px;
    border: solid 1px #cccccc;
    width: 100%;
    border-radius: 10px;
    outline: none;
    margin-top: 9px;
}